*{
  width: 1440px;
  height: 2453px;
  top: -84px;
  left: -543px;
  gap: 0px;
  opacity: 0px;
}

.nav-text {
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 67px;
    p {
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 24.2px;
    text-align: left;
  }
}